.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-horiz{
  display: flex;
  justify-content: center;
}

.page-wrapper {
  // background-image: url(files/background_image.jpg);
  // background-attachment: fixed; /* This keeps the pattern still while you scroll */
  
  /* THIS IS THE FIX: */
  // height: 100%; 

}