.experience-text {
    font-size: calc(2.75vw + 2.75vh);
    text-align: center;
    // width: 100vw;
    display: block;
}

.company-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


    .company-card {
        width: 55%;
        border-radius: 1vw;
        margin: 2vw;
        padding: 2em;
        background-color: var(--blue);
        color: white;

        *:not(:last-child) { 
            margin-bottom: .75vh;
        }
    
        // &:hover {
            // 2. Add the shadow (using a semi-transparent slate or emerald)
            // format: x-offset y-offset blur spread color
            // box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
            
            // 3. Optional: Subtle "lift" effect
            // transform: translateY(-4px);
            
            // If you want an Emerald "glow" instead:
            // box-shadow: 0 0 15px rgba(16, 185, 129, 0.4);
            // border-color: #10B981; 
        // }

        .company-position-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
            & * {
                width: auto;
            }
            .company-position-name {
                font-size: calc(1.3vw + 1.3vh);
            }

            .company-date {
                font-size: calc(1.2vw + 1.2vh);
            }
        }

        .company-name-row {
            display: flex;
            justify-content: space-between;

            & * {
                width: auto;
            }

            $company-image-size: 7vw;
            img {
                width: $company-image-size;
                height: auto;
                border-radius: 25%;
            }

            .company-name {
                font-size: calc(1.6vw + 1.6vh);
                text-align: center;
            }

            .spacer {
                width: $company-image-size;
            }
        }

        .company-skills-row {
            font-size: calc(.9vw + .9vh);
            padding-left: calc(var(--bs-gutter-x)* .5); 
            & * {
                width: auto;
                padding: 0px;
            }
        }

        .company-work-text {
            font-size: calc(.9vw + .9vh);
            padding: 0 2.5vw;
        }
    }
}