:root {
  --green: #98ce00;
  --white: #FFFFFC;
  --grey: #757780;
  --black: #001011;
  --blue: #6CCFF6 ;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.menu-bar {
  width: 100%;
  height: 100px;
  background-color: var(--blue);
  display: flex;  
  align-items: center;
  position: sticky;
  top: 0;
}

.menu-bar-item-row {
  /* position: absolute;
  right: 0;
  top: 50px;
  width: 500px;
  display: inline-block; */
  
  position: absolute;
  right: 0px;
}

.menu-bar-item {
  display: inline-block;
  position: absolute;
  margin: 20px;
  font-size: 28px;
  cursor: pointer;
  text-decoration: none;
  color: var(--black);
  left: 0;
}

.menu-bar-item-container {
  display: inline-block;
  height: 100px;
  align-items: center;
  width: 135px;
  position: relative;
  /* display: inline-block;
  width: 150px;
  height: 75px; */
  
}

.menu-bar-image-container {
  display: inline-block;
  position: relative;
  height: 100px;
  width: 50px;
}

.menu-bar-item:hover {
  font-size: 34px;
  text-decoration: underline;

}

.icon {
  position: absolute;
  top: 30px;
}
