:root {
  --green: #98ce00;
  --white: #FFFFFC;
  --grey: #757780;
  --black: #001011;
  --blue: #10B981;
  --slate: #1E293B;

  --nutriappbg: #386641;
  --ghostjazzbg: #0dd091;
  --aquavybesbg: #ccfffc;
  --bunchnotesbg: #f7efb2;
  --kalarasbg: #ec4242;
  --terrainbg: #22401b;
  --ideabg: #32435F;
  /* --blue: rgba(174,201,230,1);
  --darkblue: rgba(50,67,95,1); */

  --nutriappft: #ffffff;
  --ghostjazzft: #3c3b3b;
  --aquavybesft: #0195de;
  --bunchnotesft: #000000;
  --kalarasft: #fff5e0;
  --terrainft: #e10e0e;
  --ideaft: #ffffff;


}

body {
  // margin: 0;
  font-family: Courier;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nutriapp {
  background-color: var(--nutriappbg);
  color: var(--nutriappft);
}

.ghostjazz {
  background-color: var(--ghostjazzbg);
  color: var(--ghostjazzft);
}

.aquavybes {
  background-color: var(--aquavybesbg);
  color: var(--aquavybesft);
}

.bunchnotes {
  background-color: var(--bunchnotesbg);
  color: var(--bunchnotesft);
}

.kalaras {
  background-color: var(--kalarasbg);
  color: var(--kalarasft);
}

.trainedterrain {
  background-color: var(--terrainbg);
  color: var(--terrainft);
}

.ideacard {
  background-color: var(--ideabg);
  color: var(--ideaft);
}

.container {
  max-width: none !important;
  margin: 0px 0px;
  padding: 0px 0px;
  max-width: none;
}

%full-width-container {
  margin: 0px 0px !important;
  padding: 0px 0px !important;
  max-width: none !important;
}

html, body, #root {
  // height: 100% !important;
  // margin: 0 !important;
  // padding: 0 !important;
}

#root {
  // display: flex;
  // flex-direction: column;
  // min-height: 100vh; /* Ensures it is at least as tall as the screen */
  min-height: 100vh; /* Takes at least the full screen height */
  height: auto;      /* Allows it to grow with content */
  margin: 0;
  padding: 0;
}

body {
  background-image: url(files/background_image.jpg);
  background-attachment: fixed; /* Optional: keeps the pattern from scrolling */
  background-size: cover;
}

.menu-bar-container {
  position: sticky;
  top: 0;
  z-index: 2;
  @extend %full-width-container;

  .menu-bar {
    height: 10vh;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 2vw;
    
    @extend %full-width-container;


      .menu-bar-item-container {
        display: inline-block;
        // padding: 10px;
        position: relative;

        .menu-bar-item {
          display: inline-block;
          font-size: 3em;
          cursor: pointer;
          text-decoration: none;
          color: var(--slate);
          transition: transform 0.2s ease-in-out;

          &:hover {
            text-decoration: underline;
            transform: translateY(-4px);
          }
        }

        .active-bar-item {
          color: white;
        }

        .icon {
          display: inline-block;
          padding: 1px inherit;
          height: 3.75em;
          width: 3.75em;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: transform 0.2s ease-in-out;

          &:hover {
            border-bottom: 3px solid var(--slate);
            transform: translateY(-4px);
          }
        }
      
    }
  }
  
  .menu-bar-divider {
    width: 100%;
    height: 20px;
    background-color: var(--green);
    margin-bottom: 0px;
    padding-bottom: 0px;
    @extend %full-width-container;
  }
}