.main-page {
    background-image: url(files/background\ image.jpg);
    background-size: 100% 100%;
    background-repeat: repeat-y;
}

.page-container {
    
}
  
.blurb-text {
    font-size: 20px;
    width: 80%;
}

.name-text {
    font-size: 35px;
    text-align: center;
}

.image-placeholder {
    width: 500px;
    height: 500px;
    background-color: grey;
    justify-self: center;
}
  
.blurb-container {
    width: inherit;
}

.skills-container {
    display: flex;
}

.skills-col {
    max-width: 200px;
    padding-left: 0;
}

.skill-filler {
    max-width: 250px;
}

.skill-header {
    text-align: center;
    font-size: 22px;
    padding: 4px;
}

.skill {
    padding-left: 4px;
    position: relative;
    display: inline-block;
    font-size: px;
}

.skill-item {
    list-style-type: none;
    background-color: var(--blue);
    margin-bottom: 10px;
    height: 25px;
    border-radius: 7px;
    border-color: rgb(14, 125, 135);
    border-style: solid;
    border-width: 2px;
    width: 100%;
}

.skill-tooltip {
    visibility: hidden;
  width: 140px;
  background-color: var(--green);
  color: #4e4f54;
  text-align: center;
  border-radius: 6px;
  padding: 5px 2px;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;

}


.left-tooltip {
    right: 105%;
}

.right-tooltip {
    left: 105%;

}

.skill:hover .skill-tooltip{
    visibility: visible;
  }

