.main-page {
    background-image: url(files/background\ image.jpg);
    background-size: 100% 100%;
    background-repeat: repeat-y;
}

.page-container {
    width: 500
}
  
.blurb-text {
    font-size: 20px;
}

.name-text {
    font-size: 35px;
    text-align: center;
}

.image-placeholder {
    width: 500px;
    height: 500px;
    background-color: grey;
}
  
.blurb-container {
    width: 500px;
}

.skills-container {
    display: flex;
    width: 500;
}

.skills-col {
    width: 40%;
    padding-left: 0;
}

.skill-filler {
    width: 20%;
}

.skill-header {
    text-align: center;
}

.skill {
    padding-left: 4px;
    position: relative;
    display: inline-block;
}

.skill-item {
    list-style-type: none;
    background-color: var(--blue);
    margin-bottom: 10px;
    height: 25px;
    border-radius: 7px;
    border-color: rgb(14, 125, 135);
    border-style: solid;
    border-width: 2px;
}

.skill-tooltip {
    visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.skill-tooltip:hover {
    visibility: visible;
  }

