.project {
    width: 750px;
    height: 550px;
    border-radius: 50px;
}

.pointer-cursor:hover {
    cursor: pointer;
}

.project-content {
    width: 600px;
    display: block;
}

.nutri-app {
    background-color: #386641;
}

.bunch-notes {
    background-color: #f7efb2;
}

.nutri-app-logo-container {
    text-align: center;
    margin-bottom: 5px;
}

.nutri-app-logo-text {
    display: block;
    font-size: 50px;
    color: white;
}

.bunch-notes-logo-text {
    font-size: 50px;
    color: black;
}

.aqua-vybes {
    background-color: #ccfffc;
}

.aqua-vybes-logo-text {
    font-size: 50px;
    color: rgba(1,149,222);
}

.ghost-jazz {
    background-color: #0dd091;
}

.ghost-jazz-logo {
    justify-self: center;
    margin-bottom: 25px;
}

.inherit-size {
    width: inherit;
    height: inherit;
}